<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SEP490_SU25_G86_Client</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SEP490_SU25_G86_Client.styles.css" asp-append-version="true" />
    <link href="~/css/index.css" rel="stylesheet" />

</head>
<body>
    <header>
        <div class="container-fluid header-container">
            <div class="header row">
                <div class="logo col-6 align-self-center d-flex">
                    <i class="fa-solid fa-car fa-2x my-3"></i>
                    <p>CVMatcher!</p>
                </div>
                <div class="nav col-6 row d-flex align-items-center justify-content-evenly">
                    <div class="col-4 nav-about d-flex">
                        <a asp-page="/About">ABOUT US</a>
                    </div>

                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        var userName = User.Identity.Name ?? "User";
                        var isAdmin = User.IsInRole("admin");
                        var isCarOwner = User.IsInRole("carOwner");
                        var isCustomer = User.IsInRole("customer");
                        <div class="col-3 dropdown nav-login d-flex align-items-center justify-content-evenly">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Welcome, @userName
                            </a>
                            <ul class="dropdown-menu">
                                @if (isAdmin)
                                {
                                    <li><a class="dropdown-item" asp-page="/Admin/User">User Management Panel</a></li>
                                    <li><a class="dropdown-item" asp-page="/Admin/Car">Car Management Panel</a></li>
                                }
                                @if (isCustomer || isCarOwner)
                                {
                                    <li><a class="dropdown-item" asp-page="/Profile">My Profile</a></li>
                                }
                                @if (isCustomer)
                                {
                                    <li><a class="dropdown-item" asp-page="/Booking/My">My Booking</a></li>
                                }
                                @if (isCarOwner)
                                {
                                    <li><a class="dropdown-item" asp-page="/MyCars">My Cars</a></li>
                                    <li><a class="dropdown-item" asp-page="/Reports">My Feedback</a></li>
                                }
                                @if (isCustomer || isCarOwner)
                                {
                                    <li><a class="dropdown-item" asp-page="/Wallet">My Wallet</a></li>
                                }
                                <li><a class="dropdown-item" asp-page="/Logout">Logout</a></li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <div class="col-3 nav-login d-flex align-items-center justify-content-evenly">
                            <a class="btn btn-primary" asp-page="/Common/Login">Đăng nhập</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    </footer>
    <div class="container-fluid footer-container">
        <div class="container-fluid">
            <div class="footerc d-flex justify-content-evenly">
                <div class="items">
                    <h3>CV</h3>
                    <ul class="list-unstyled">
                        <li><a asp-page="/......." class="text-light">..........</a></li>
                    </ul>
                </div>
                <div class="items">
                    <h3>Customer Access</h3>
                    <ul class="list-unstyled">
                        <li><a asp-page="/......" class="text-light">......</a></li>
                        <li><a asp-page="/......" class="text-light">......</a></li>
                        <li><a asp-page="/......" class="text-light">......</a></li>
                    </ul>
                </div>
                <div class="items">
                    <h3>Join Us</h3>
                    <ul class="list-unstyled">
                        <li><a asp-page="/....." class="text-light">.......</a></li>
                        <li><a asp-page="/....." class="text-light">.......</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>